@tailwind base;
@tailwind components;
@tailwind utilities;

/* change me to set your light font */
@font-face {
  font-family: "My-Light";
  src: url("./assets/fonts/my-light.otf") format("opentype");
}

/* change me to set your regular font */
@font-face {
  font-family: "My-Regular";
  src: url("./assets//fonts/my-regular.otf") format("opentype");
}

/* change me to set your bold font */
@font-face {
  font-family: "My-Bold";
  src: url("./assets//fonts/my-bold.otf") format("opentype");
}

/* change me to set your extra bold font */
@font-face {
  font-family: "My-ExtraBold";
  src: url("./assets/fonts/my-extraBold.otf") format("opentype");
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 100vh;
}
